{% extends "base.html" %}
{% block content %}
    <div class="container-fluid information">
    <h1>User Privacy</h1>
    <div class="container-fluid">
    <p>
    Before you use the services provided by CP, please
        carefully read and fully understand the terms of this
        Agreement, especially the parts marked in bold,
        including but not limited to exemption or limitation
        of liability. If you do not agree with the
        Service Agreement and/or its modification at any time,
        you may voluntarily stop using the Services provided
        by Baidu. Once you use the services provided by CP, you
        shall be deemed to have understood and fully agreed
        to the contents of the Service Agreement, including
        any modifications made by Baidu to the Service
        Agreement from time to time, and become our user.
    </p>
    </div>
    <a href="/auth/login"><input class="btn btn-default"  value="Back"></a>
    </div>

{% endblock %}