<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- 引入bootstrap文件 -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/public.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>REMAKE2</title>
</head>
<body>
    <!-- 头部 -->
    <div class="header w">
        <!-- logo -->
        <div class="logo">
            <li><a href="#" target="_self"><img src="../static/images/logo.png" alt="" ></a></li>
        </div>
        <!-- user -->
        <div class="user">
            <ul>
                <li><a href="{{ url_for("auth.login") }}" ><img src="../static/images/user.png" alt=""></a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" value="search" placeholder="search">
            <button type="submit"></button>
        </div>
        <!-- 导航栏 -->
        <div class="nav">
            <ul>
              <li><a href="#">市场</a></li>
              <li><a href="#">购物车</a></li>
              <li><a href="#">资产</a></li>
              <li><a href="#">上传</a></li>
            </ul>
        </div>
        <div class="menu">
            <i></i>
            <i></i>
            <i></i>
        </div>
    </div>
    <div class="container">
        <div class="row carpet">
        <!-- slogan -->
        <div class="col-lg-6 col-md-6"><h1 class="slogan">Discover, collect, <br>and sell extraordinary NFTs！</h1></div>
        <div class="col-lg-6 col-md-6 selected">
            <div class="swiper">
            <input type="radio" name="btn" id="btn1" checked ><input type="radio" name="btn" id="btn2"><input type="radio" name="btn" id="btn3"><label for="btn1"></label><label for="btn2"></label><label for="btn3"></label>
            <ul>
                <li><a href="#" target="self"><img src="../static/images/1.jpg" alt=""></a></li>
                <li><a href="#" target="self"><img src="../static/images/2.jpg" alt=""></a></li>
                <li><a href="#" target="self"><img src="../static/images/3.jpg" alt=""></a></li>
            </ul>
        </div>
        </div>
        </div>  
        <div class="row footer">
            <div class="col-lg-3 col-md-6 footer-box">
                <div class="qr"><img src="../static/images/qr1.jpg" alt=""></div>
                <div class="wechat"><img src="../static/images/wechat.png" alt=""></div>
                <div class="wechat-text">扫码加客服</div>
            </div>
            <div class="col-lg-3 col-md-6 footer-box">
                <div class="mail"><img src="../static/images/mail.png" alt=""></div>
                <div class="mail-text"><a href="#">megreatest616@gmail.com</a></div>               
            </div>
            <div class="col-lg-3 col-md-6 footer-box">
                <div class="weibo"><img src="../static/images/weibo.png" alt=""></div>
                <div class="weibo-text"><a href="#">@不怕做蠢事</a></div>        
            </div>
            <div class="col-lg-3 col-md-6 footer-box">
                <div class="bottom-logo"><img src="../static/images/bottom-logo.png" alt=""></div>
            </div>
        </div>          
    </div>      
</body>
</html>